.LineSelector {
  flex-grow: 1;
  position: relative;

  & > div {
    display: inline-block;
    margin: 10px;
  }

  &__Wrapper {
    border: solid 1px;
    padding: 10px;
    border-radius: 23px;
  }

  &__Container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;

    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;

      &:checked ~ .LineSelector__Checkmark:after {
        display: block;
      }
    }

    & input:checked ~ .LineSelector__Checkmark {
      background-color: #2196f3;
    }

    & .LineSelector__Checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
    }
  }

  &__Checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 12px;

    &:after {
      content: '';
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &_Unchecked {
      box-sizing: border-box;
      border: solid 2px;
    }
  }
}
