.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;

  &__Button {
    color: #2496ff;
    font-size: 20px;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }
}
