
.Seeker {
  height: 100%;
  // display: flex;
  position: absolute;
  top: 0;
  width:100%;
  justify-content: space-between;
  white-space: nowrap;

  > div {
    display: inline-block;
    position: absolute;
    height: 100%;
  }
  
  
  &__Left {
    // width: 100%;
    // background-color: $bg-color;
  }

  &__Center {
    box-sizing: border-box;
    // border-right: solid $border-color 15px;
    // border-top: solid $border-color 3px;
    // border-bottom: solid $border-color 3px;
    // border-left: solid $border-color 15px;
    // width: 400px;
    // display: flex;
    // justify-content: space-between;
  }

  &__Right {
    // background-color: $bg-color;
    width: 100%;
  }
}
