.PointLabel {
  position: absolute;
  top: 20px;

  &__LabelWrapper {
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 2px 3px rgba(0,0,0, 0.5);
    box-sizing: border-box;
  }

  &__XLabel {
    font-weight: 500;
    font-size: larger;
    margin-bottom: 10px;
  }

  &__ValueWrapper {
    display: flex;
    flex-wrap: wrap;

    & > div:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__Value {
    font-size: x-large;
    font-weight: bold;
  }

  &__Line {
    width: 1px;
    background: #999;
    position: absolute;
    top:100%;
  }

}